<div class="contents ml_10">
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>イラストレーター名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @illustrators.each do |illustrator| %>
        <tr>
          <td><%= illustrator.id %></td>
          <td><%= illustrator.name %></td>
          <td><%= link_to "show", backend_illustrator_path(illustrator.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to "new", new_backend_illustrator_path %>

</div>
