<p>新規登録</p>
<%= form_for :illustrator, url: backend_illustrators_path, html: {class: "pure-form"} do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit class: "pure-button pure-button-primary" %>
<% end %>
