<form class="formrun pure-form pure-form-stacked" action="https://form.run/api/v1/r/FaSgWVtX5i7Xk8tl4ABr" method="post">
  <legend>大会参加申し込みフォーム</legend>

  <div class="pure-u-1 pure-u-lg-1-6">
    <label>メールアドレス</label>
  </div>
  <div class="pure-u-1 pure-u-lg-5-6">
    <input type="email" name="メールアドレス" class="pure-input-1" placeholder="miku@vertex.com" required="true">
  </div>

  <div class="pure-u-1 pure-u-lg-1-6">
    <label>ハンドルネーム</label>
  </div>
  <div class="pure-u-1 pure-u-lg-5-6">
    <input type="text" name="ハンドルネーム" class="pure-input-1" placeholder="みっくみく">
  </div>

  <div class="pure-u-1 pure-u-lg-1-6">
    <label>Twitter ID (任意)</label>
  </div>
  <div class="pure-u-1 pure-u-lg-5-6">
    <input type="text" name="TwitterID" class="pure-input-1" placeholder="39VDT_official">
  </div>

  <button type="submit" class="pure-button pure-button-primary">登録！</button>
</form>

<script src="https://sdk.form.run/js/v1/sdk.js"></script>
