<div class="container-fluid">
  <h1>大会参加申し込み　仮</h1>

  <form class="formrun form-group" action="https://form.run/api/v1/r/FaSgWVtX5i7Xk8tl4ABr" method="post">
    <input type="email" name="メールアドレス" placeholder="taro@example.com">
    <input type="text" name="ハンドルネーム" placeholder="たろたろ">
    <input type="text" name="TwitterID" placeholder="39VDT_official">
    <button type="submit">送信</button>
  </form>

  <script src="https://sdk.form.run/js/v1/sdk.js"></script>

</div>