<form class="formrun pure-form pure-form-stacked" action="https://form.run/api/v1/r/FaSgWVtX5i7Xk8tl4ABr" method="post">
  <legend>大会参加申し込みフォーム</legend>

  <label>メールアドレス</label>
  <input type="email" name="メールアドレス" placeholder="miku@vertex.com">

  <label>ハンドルネーム</label>
  <input type="text" name="ハンドルネーム" placeholder="みっくみく">

  <label>Twitter ID (任意)</label>
  <input type="text" name="TwitterID" placeholder="39VDT_official">

  <button type="submit" class="pure-button pure-button-primary">送信</button>
</form>

<script src="https://sdk.form.run/js/v1/sdk.js"></script>
