<h1>参加申し込み　仮</h1>

<form class="formrun" action="https://form.run/api/v1/r/FaSgWVtX5i7Xk8tl4ABr" method="post">
  <input type="email" name="メールアドレス" placeholder="taro@example.com">
  <input type="text" name="お名前" placeholder="山田 太郎">
  <button type="submit">送信</button>
</form>

<script src="https://sdk.form.run/js/v1/sdk.js"></script>