<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>曲名</th>
    <th></th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.id %></td>
      <td><%= song.title %></td>
      <td><%= link_to :show, song_path(song.id), class: 'btn btn-warning btn-xs' %></td>
    </tr>
  <% end %>
</table>
