<div class="container-fluid">
  <table>
    <tr>
      <th>ID</th>
      <th>曲名</th>
      <th></th>
    </tr>
    <% @vocalists.each do |vocalist| %>
      <tr>
        <td><%= vocalist.id %></td>
        <td><%= vocalist.name %></td>
        <td><%= link_to "show", backend_vocalist_path(vocalist.id) %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "new", new_backend_vocalist_path %>
</div>