<div class="posts">
  <section class="post">
    <div class="post-header">
      <h2 class="post-title"><%= @information.title %></h2>
      <p class="post-meta"><%= @information.publish_date.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="post-description">
      <%= simple_format @information.body %>
    </div>
  </section>
</div>

<%= link_to "ニュース一覧に戻る", informations_path %>
