<div>
  <table>
    <tr>
      <th>ID</th>
      <th>曲名</th>
      <th></th>
    </tr>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.title %></td>
        <td><%= link_to "show", backend_song_path(song.id) %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "new", new_backend_song_path %>
</div>