<header>
  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "VerTex", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to '曲一覧',backend_songs_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ぼかろ <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% @vocalists.each do |vocalist| %>
                  <li><%= link_to vocalist.name, backend_vocalist_path(vocalist.id) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">ログイン</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>